.app__body{
    padding-top: 20px;
    background-color: #e6ebe7;
    height: 100%;
}

.app__header{
    background-color: white;
    object-fit: contain;
    position: sticky 0px;
    border-bottom:1px lightgrey solid;
}

.app__header__logo{
    padding: 10px;
}

.post{
    width:100%;
    border:solid lightgrey 1px;
    background-color: white;
    margin-bottom: 15px;
}

.post__header{
    display: flex;
    align-items: center;
}

.post__image{
    width:100%;
    object-fit: contain;
    max-width: 500px;
}