.app__body{
    flex-direction: column;
    padding-top: 20px;
    background-color: #e6ebe7;
    height: 100%;
    padding-bottom:130px;
}

.app__header{
    position:sticky;
    top:0px;
    z-index:100;
    display: flex;
    align-items: center;
    background-color: white;
    object-fit: contain;
    position: sticky 0px;
    border-bottom:1px lightgrey solid;
}

.app__header__logo{
    padding: 10px;
}

.app__posts{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.post{
    border:solid lightgrey 2px;
    margin: 0px 10px;
    background-color: white;
    margin-bottom: 15px;
    max-width:500px;
    border-radius: 2%;
}

.post__header{
    display: flex;
    align-items: center;
    padding-top:5px;
}

.post__image{
    width:100%;
    object-fit: contain;
}

.post__footer{
    padding:10px;
    text-align: center;
}

.app__signup__modal{
    display: flex;
    flex-direction: column;
}


.signout__btn{

}

.post__comments{
    display: flex;
    border-top: 1px solid lightgray;
    
}

.post__input{
    flex:1;
}

.file__uploader{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
}


.post__btn{
    flex:0;
}