.app__body{
    flex-direction: column;
    padding-top: 20px;
    background-color: 	#282828;
    height: 100%;
    padding-bottom:130px;
}

.app__header{
    height:60px;
    position:sticky;
    top:0px;
    z-index:100;
    display: flex;
    align-items: center;
    background-color: black;
    object-fit: contain;
    position: sticky 0px;
    border-bottom:0.5px lightgrey solid;
}

.app__header__logo{
    padding: 10px;
    height: 100%;
    width: 100px;
}

.app__posts{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.post{
    border:solid grey 1px;
    margin: 0px 10px;
    background-color: #101010;
    margin-bottom: 15px;
    max-width:400px;
    border-radius: 2%;
}

.post__header{
    display: flex;
    align-items: center;
    padding-top:5px;
    color:white
}

.post__image{
    width:100%;
    object-fit: contain;
}

.post__footer{
    padding:10px;
    text-align: center;
    color:white;
}

.app__signup__modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.signout__btn{
    color:white !important;
}

.post__comments{
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgray;
    color:white;
    
}

.send__comments{
    display:flex;
    color:white;
}

.post__input{
    flex:1;
    background-color: black;
    color: white;
    background-color: black;
}

.post__btn{
    flex:0;
    color:white !important;
}

.file__uploader{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #282828;
}

.upload__btn{
    color:white !important;
}

.signin_signout__btn{
    color: white !important;
}

.file__chooser{
    background-color: black;
}


.post__comment{
    margin-left: 10px;
}

.loader{
    display: flex;
    padding-top: 50vh;
    justify-content: center;
    align-items: center
}

.signup_form_btn{
    color: white !important;
}

.signup_form_btn{
    color: white !important;
}

